<div class="footer">
	<div class="space-small"></div>
	<div class="footer__container">
		<div class="footer__copyright">Copyright by Comtruavip 2017</div>

		<div class="social">
			<ul class="social__list">
				<li class="social__item"><a href="#" class="social__link"><img src="img/social/fb.svg" alt="" class="social__img"></a></li>
				<li class="social__item"><a href="#" class="social__link"><img src="img/social/gp.svg" alt="" class="social__img"></a></li>
				<li class="social__item"><a href="#" class="social__link"><img src="img/social/i.svg" alt="" class="social__img"></a></li>
			</ul>
		</div>
	</div>
</div>