<div class="hero">
  <div class="hero__container">

    {% include "partials/_header.html" %}

    <div class="hero__description-container">
      <div class="hero__description-title">Built with app designers in mind</div>
      <div class="hero__description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.	Lorem ipsum dolor sit amet.</div>
      <button class="button">How it work</button>
    </div>

    <div class="iphone">
     <img src="img/iphone.svg" alt="" class="iphone__img">
     <div class="iphone__item">
     <img src="img/iphone-item.png" alt="" class="iphone__item-img">
      <div class="iphone__item-text">Some Title</div>
    </div>
  </div>

</div>
</div>
