<div class="join">	
	<div class="join__container">

		<div class="join__descr-container">
			<div class="join__descr">Receive notification now</div>
			<div class="join__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor.</div>
		</div>

		<div class="email">
			<input class="email__field" type="email" placeholder="Your email address ...">
			<button class="email__button">I’M READY!</button>
		</div>

	</div>
</div>