{% set 
menu = [
	{item: 'About'},
	{item: 'Download'},
	{item: 'Workflow'},
	{item: 'Support'},
	{item: 'User Stories'},
	{item: 'Contact'}
] 
%}

{% set 
item = [

	{	
		img: 'img/items/item-food.svg',
		title: 'Lorem ipsum is simply dummy',
		descr: 'Lorem ipsum is simply dummy text of the printing and typesetting industry',
		id: 1
	},

	{	
		img: 'img/items/item-cart.svg',
		title: 'Lorem ipsum is simply dummy',
		descr: 'Lorem ipsum is simply dummy text of the printing and typesetting industry',
		id: 2
	},

	{	
		img: 'img/items/item-setting.svg',
		title: 'Lorem ipsum is simply dummy',
		descr: 'Lorem ipsum is simply dummy text of the printing and typesetting industry',
		id: 3
	},

	{	
		img: 'img/items/item-user.svg',
		title: 'Lorem ipsum is simply dummy',
		descr: 'Lorem ipsum is simply dummy text of the printing and typesetting industry',
		id: 4
	},

	{	
		img: 'img/items/item-edit.svg',
		title: 'Lorem ipsum is simply dummy',
		descr: 'Lorem ipsum is simply dummy text of the printing and typesetting industry',
		id: 5
	},

	{	
		img: 'img/items/item-email.svg',
		title: 'Lorem ipsum is simply dummy',
		descr: 'Lorem ipsum is simply dummy text of the printing and typesetting industry',
		id: 6
	}

] 
%}